* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  background-color: lightgrey;
}

header {
  background-color: white;
  padding: 20px;
  padding-left: 100px;
  box-shadow: 0px 3px 3px 0px #bcc0c3;
}

header h5 {
  color: lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add Book Button */
#add-book {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  width: 15em;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  font-weight: 600;
}

img {
  height: 1em;
  width: 1em;
}

#add-book:hover {
  background-color: rgb(196, 196, 196);
}

#add-book:active {
  background-color: rgb(158, 158, 158);
}

/* Add Book Dialog */
dialog {
  width: 320px;
  position: absolute;
  top: 50%;
  margin-top: -102px;
  left: 50%;
  margin-left: -160px;
  border-radius: 8px;
  padding: 12px;
  background-color: white;
  border: none;
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog button {
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-weight: 600;
  background-color: rgb(221, 221, 221);
}

dialog button:hover {
  background-color: lightgrey;
}

dialog button:active {
  background-color: rgb(196, 196, 196);
}

.dialog-input {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

::backdrop {
  background-color: rgba(211, 211, 211, 0.65);
}

/* Book Grid */
#grid {
  width: calc(100% - 200px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.book {
  border-radius: 8px;
  padding: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book h3 {
  display: flex;
  justify-content: space-between;
}

.icon {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
  text-align: center;
}

.icon:hover {
  color: red;
}

.icon:active {
  color: darkred;
}
